/* ------------------------------------------------------Header Styling*/
html, body {
    height: 1vh;
}

.header_container {
    color: #ffffff;
    background-color: #1a1350;
}

.navbar-nav > li > a {
    padding-bottom: 10px;
    color: #ffffff !important;
}
    .navbar-header{
    height: 60px;
}

.navbar-header h3{
    width: 280px;
    margin-left: 10px;
}

.navbar-toggle{
    position: fixed;
    top: 5px;
    right:5px;
}

.collapse .navbar-toggle {
    position: fixed;
    top: 20px;
    right: 5px;
}

.navbar-default .navbar-nav > li > a {
    max-width: 200px;
    padding-left: 0px;
    padding-right: 15px;
}
.navbar-collapse {
    margin-top: 15px;
}

svg text {
    fill: #333333 !important;
}
/* ------------------------------------------------------Main Styling*/
.main_container {
    margin-top: 60px;
    min-height: calc(100vh - 90px);
    background-color: #eeeeee;
    color: #333333;
}

.finalEnergyConsumption_container, .primaryEnergyReq_container, .transformation_container {
    background-color: #eeeeee;
    padding: 0px;
    border-bottom: solid;
    border-color: #39827d;
    border-width: 1px;
    padding-top: 20px;
    overflow: hidden;
}

.transformation_container {
    border-left: solid;
    border-color: #39827d;
    border-width: 1px;
}
    .chart_title {
        font-family: 'Lato', futura, georgia;
        letter-spacing: 1px;
        line-height: 15px;
        text-transform: Uppercase;
        text-align: center;
        color: #39827d;
    }

.subchart_title {
    font-family: 'Lato', futura, georgia;
    letter-spacing: 1px;
    text-transform: Uppercase;
    color: #39827d;
    text-align: center;
    margin-top: 20px;
}

.my_modal {
    top:60px;
}
/*---------------------------------------------------------Final Consumption Fuel Row Chart*/
.consumptionByFuelType_rowchart_container {
    width: 100%;
    max-width: 420px;
    overflow: scroll !important;
}

#consumptionByFuelType_rowchart {
    width: 100%;
}
#consumptionByFuelType_rowchart svg {
    height: 330px;
}

#consumptionByFuelType_rowchart svg text {
    fill: black;
}

/*---------------------------------------------------------Final Consumption Fuel Pie Chart*/

.consumptionByFuel_sunburst_chart {
    width: 100%;
    max-width:420px;
    height: 250px;
    text-align: center;
    position: relative;
    overflow: scroll !important;
}

#consumptionByFuel_sunburstchart_inner {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 55px;
    left: 55px;
}

    #consumptionByFuel_sunburstchart_inner svg {
        width: 105px;
        height: 105px;
    }

        #consumptionByFuel_sunburstchart_inner svg g {
            transform: translate(17px,17px);
        }

#consumptionByFuel_sunburstchart_outer {
    width: 400px;
    height: 220px;
    position: absolute;
}

    #consumptionByFuel_sunburstchart_outer svg {
        width: 400px;
        height: 380px;
    }

        #consumptionByFuel_sunburstchart_outer svg .pie-slice-group {
            transform: translate(-95px,-5px);
        }

        #consumptionByFuel_sunburstchart_outer svg .dc-legend {
            transform: translate(220px,0px);
        }


/*---------------------------------------------------------Final Consumption Consumer Bar Chart*/
.consumptionByConsumer_barchart_container {
    width: 100%;
    max-width: 420px;

    overflow: scroll !important;
}


#consumptionByConsumer_barchart svg g .x .tick text {
    text-anchor: end !important;
    transform: translate(-30px, 5px) rotate(-45deg);
}

/*---------------------------------------------------------Final Consumption Consumer Pie Chart*/
.consumptionByConsumer_sunburst_chart {
    width: 100%;
    max-width: 430px;
    height: 250px;

    position: relative;
    text-align: center;
    overflow: scroll !important;
}

#consumptionByConsumer_sunburstchart_inner {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 55px;
    left: 55px;
}

    #consumptionByConsumer_sunburstchart_inner svg {
        width: 105px;
        height: 105px;
    }

        #consumptionByConsumer_sunburstchart_inner svg g {
            transform: translate(17px,17px);
        }

#consumptionByConsumer_sunburstchart_outer {
    width: 400px;
    height: 220px;
    position: absolute;
}

    #consumptionByConsumer_sunburstchart_outer svg {
        width: 400px;
        height: 500px;
    }

        #consumptionByConsumer_sunburstchart_outer svg .pie-slice-group {
            transform: translate(-95px,-5px);
        }

        #consumptionByConsumer_sunburstchart_outer svg .dc-legend {
            transform: translate(220px,0px);
        }


/*---------------------------------------------------------Primary Req Source Bar Chart*/
.supplyBySource_barchart_container {
    width: 100%;
    max-width: 420px;

    overflow: scroll !important;
}

#supplyBySource_barchart svg g .x .tick text {
    text-anchor: end !important;
    transform: translate(-30px, 5px) rotate(-45deg);
}
    /*---------------------------------------------------------Primary Req Fuel Pie Chart*/
.fuel_primReq_sunburst_chart {
    width: 100%;
    max-width: 420px;

    height: 250px;
    text-align: center;
    position: relative;
    overflow: scroll !important;
}

#primReqByFuel_sunburstchart_inner {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 55px;
    left: 55px;
}

    #primReqByFuel_sunburstchart_inner svg {
        width: 105px;
        height: 105px;
    }

        #primReqByFuel_sunburstchart_inner svg g {
            transform: translate(17px,17px);
        }

#primReqByFuel_sunburstchart_outer {
    width: 400px;
    height: 220px;
    position: absolute;
}

    #primReqByFuel_sunburstchart_outer svg {
        width: 400px;
        height: 380px;
    }

        #primReqByFuel_sunburstchart_outer svg .pie-slice-group {
            transform: translate(-95px,-5px);
        }

        #primReqByFuel_sunburstchart_outer svg .dc-legend {
            transform: translate(220px,0px);
        }
/*---------------------------------------------------------Transformation Bar Chart*/
.transformation_barchart_container {
    overflow: scroll !important;
    width: 700px;

    height: 350px;
}

.transformation_barchart_container_outer{
    padding:0px;

}
.tranChart_label_container {
    text-align: center;
    position: absolute;
    left: 160px;
}

    .tranChart_label_container .subchart_title {
        margin: 0px;
        margin-bottom: 5px;
    }

.labelOut {
    margin-left: 50px;
}

.tranChart_label {
    margin-bottom:31px;
}

#transformationInput_barchart {
    transform: translate(0px,50px) rotate(-90deg);

}

    #transformationInput_barchart svg g g.axis.x {
        display: none;
    }

#transformationInput_barchart .x.axis text {
    text-anchor: end !important;
    transform: translate(25px, 50px) rotate(90deg);
}

#transformationInput_barchart .y.axis text {
    text-anchor: end !important;
    transform: translate(-15px, 20px) rotate(90deg);
}

#transformationOutput_barchart {
    transform: translate(-100px,50px)rotate(90deg);
}

#transformationOutput_barchart svg {

}

    #transformationOutput_barchart svg g .stack rect {
        transform: translate(10px, 0px);
    }

#transformationOutput_barchart svg g g.axis.x {
    display: none;
}

#transformationOutput_barchart .y.axis {
    transform: translate(280px, 0px);
}

    #transformationOutput_barchart .y.axis text {
        text-anchor: end !important;
        transform: translate(15px, 0px) rotate(-90deg);
    }

.transformation_piechart_container {

}

#transformationOutputByFuel_piechart {

}
    /* ------------------------------------------------------Footer Styling*/
    .footer {
    height: 30px;
    color: #ffffff;
    position: relative;
    bottom: 0px;
    left: 0px;
    background-color: #1a1350;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.footer-text {
    margin-top: 5px;

}
.footer-text p{
    margin-bottom: 0px;
}
    .linkedIn-link {
    color: #ffffff;
    font-weight: bold;
}

.linkedIn-link:hover {
    color: #b35573;
}
