/* ------------------------------------------------------Header Styling*/
html, body {
    height: 100%;
}

.header_container {
    height: 100px;
}

.navbar-nav {
    position: fixed;
    top: 50px;
    left: 50px;
}
/* ------------------------------------------------------Main Styling*/
.main_container {
    margin-top: 100px;
}

.chart_title {
    font-family: 'Lato', futura, georgia;
    letter-spacing: 1px;
    line-height: 15px;
    text-transform: Uppercase;
    text-align: center;
    color: #525252;
}

.pie_container {
    text-align: center;
}
.subchart_title {
    font-family: 'Lato', futura, georgia;
    letter-spacing: 1px;
    text-transform: Uppercase;
    color: #525252;
    text-align: center;
    margin-top: 20px;
}

#consumptionByFuelType_barchart .x.axis text {
    text-anchor: end !important;
    transform: translate(-35px, 10px) rotate(-45deg);
}

#supplyBySource_barchart .x.axis text {
    text-anchor: end !important;
    transform: translate(-35px, 10px) rotate(-45deg);
}
/* ------------------------------------------------------Footer Styling*/
.footer {
    height: 30px;
    position: fixed;
    bottom: 0px;
    background-color: #303130;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.footer-text {
    color: #c4c4c4;
    margin-top: 5px;
}

.linkedIn-link {
    color: #f702ce;
    font-weight: bold;
}

.linkedIn-link:hover {
    color: #b35573;
}
